* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(177, 207, 219);
    position:relative
}
.main{
    text-align: center;
}

.img1{
    height:80vh;
    width:30vw;
    border-radius: 2vw;
    border-color:rgb(11, 82, 110);
    border-width: 0.4vw;
    border-style:ridge;
    position: absolute;
    left:2vw;
    top:13.5vh;
}
.img2{
    height:80vh;
    width:30vw;
    border-radius: 2vw;
    border-color:rgb(11, 82, 110);
    border-width: 0.4vw;
    border-style:ridge;
    position: absolute;
    right:2vw;
    top:13.5vh;
}

.head{
    text-align: center;
    padding-top: 1vh;
    font-style: italic;
    margin:5px;
    color: white;
    height:7vh;
    width:97vw;
    border-color:rgb(10, 10, 90);
    border-width: 0.5vw;
    border-style:ridge;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color:rgb(23, 87, 114);
    border-radius: 20px;
    margin-left: 1vw;
}

.container {
    height:75vh;
    width:30vw;
    position: absolute;
    top:13.5vh;
    left:34.7vw;
    text-align: center;
    color:black;
    background-color:rgb(177, 207, 219);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 35px;
    border:4px solid black;
    border-radius: 20px;
}
.btn{
    height:6vh;
    width:20vw;
    text-align: center;
}
.sub1{
    height:15vh;
    width:20vw;
    background-color:rgb(23, 87, 114);
    color:white;
    display:flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    border:solid rgba(7, 7, 56, 0.87) 2px;
    border-radius: 20px;
}
.fil_line{
    font-style:italic;
    font-size: medium;
    margin: 15px;
    padding-top: 5px;
}

input{
    text-align: center;
    margin-left: 50px;
}

button:hover{
    cursor:pointer;
    transform: scale(1.1);
    background-color:rgb(23, 87, 114);
    color:white
}

button {
    height: 40px;
    width: 100px;
    font-size: 20px;
    border-radius: 20px;
    border-color: rgba(5, 5, 32, 0.788);
    border-width: 2px;
    border-style: solid;
    background-color: rgb(177, 207, 219);
}
.sub2{
    height:16vh;
    width:23vw;
    background-color:rgb(23, 87, 114);
    color:white;
    border:solid rgba(7, 7, 56, 0.87) 2px;
    border-radius: 20px;
    padding-top: 6px;
}
.sub3{
    height:12.5vh;
    width:20vw;
    background-color:rgb(23, 87, 114);
    color:white;
    display:flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    border:solid rgba(7, 7, 56, 0.87) 2px;
    border-radius: 20px;
    padding-top: 8px;
}
h3,p{
    margin: 9px;
}