* {
    padding: 0;
    margin: 0;
}
h3{
    margin:10px;
}

body {
    background-color: skyblue;
}
.head{
    height:50px;
    width:99%;
    border-color:lightslategray;
    border-width: 3px;
    border-style:ridge;
    margin: 5px;
    background-color:rgb(23, 87, 114);
    border-radius: 20px;
}

img {
    height: 463px;
    width: 99vw;
    border-radius: 50px;
    border-color:lightslategray;
    border-width: 3px;
    border-style:ridge;
    margin-bottom: 7px;
    margin-left: 10px;
}
.outpt{
    font-weight: bold;
    font-size: 40px;
    height:60px;
    width:400px;
    position: absolute;
    background-color: rgb(27, 88, 110);
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    color: whitesmoke;
}
h1 {
    text-align: center;
    font-style: italic;
    margin:5px;
    color: white;
}
.click{
    display: flex;
    height:100px;
    width:420px;
    border-color: black;
    border-width: 3px;
    border-style: groove;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 134, 150);
}

.container {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.subcontainer {
    height:100px;
    width:420px;
    border-color: black;
    border-width: 3px;
    border-style: groove;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(33, 134, 150);;
    color:white;
}
.fil_line{
    font-style:italic;
    font-size: medium;
    display: block;
    margin-top: 20px;
}
.res{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

input{
    display: block;
    text-align: center;
    margin-left: 120px;
}

button:hover{
    background-color: skyblue;
    cursor:pointer;
}
.container .click button:hover{
    transform: scale(1.1);
}
button {
    height: 40px;
    width: 100px;
    font-size: 20px;
    border-radius: 20px;
    border-color: rgba(6, 6, 34, 0.788);
    border-width: 3px;
    border-style: solid;
}
.pred{
    height:100px;
    width:420px;
    border-color: black;
    border-width: 3px;
    border-style: groove;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(33, 134, 150);;
    color:white
}