<!DOCTYPE html>
<html>

<head>
    <title>Machine Failure Prediction</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style_text.css") }}">
</head>

<body>
    <div class=head>
        <h1>Enter Sensor Values</h1>
    </div>
    <img src="{{ url_for("static", filename="factoryguard_ai_image.png") }}">
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <div class=container>
            <div class=subcontainer>
                <p class=fil_line><b>Upload JSON Input File</b></p><br>
                <input type="file" id="jsonFile" name="file" accept=".json" required>
            </div>
            <div class=click>
                <button type="submit">Predict</button>
            </div>
            <div class=pred>
                <h3>Result:</h3>
                <p><b>Failure Probability:</b> {{ failure_probability }}</p>
                <p><b>Latency ms:</b> {{ latency_ms }}</p>
           </div>
        </div>
    </form>
</body>
</html> 